@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E50914;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.row {
    justify-content: center;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}


.form-group label {
    color: #fff;
}

